/*Estilos del menu capas*/
.accordion {
  /*background-color: #eee;*/
  background-color:rgba(141, 110, 14, 0.80);
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 12px;
  transition: 0.4s;

/*  font-family: Verdana;
  font-family: 'PT Sans';*/
  font-family: sans-serif;
}

.active, .accordion:hover {
   /*background-color: #ccc;*/
   background-color: rgba(91, 51, 41, 0.80);
}

.accordion:after {
  content: '\002B';
  /*color: #777;*/
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*Estilos de los checkbox*/

/*input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/

  /* Styling checkbox */
 /* width: 16px;
  height: 16px;
  background-color: red;
  border-right: 5px;
}

input[type="checkbox"]:checked {
  background-color: green;
}*/

input[type="checkbox"]:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f096";
  opacity: 1 !important;
  margin-top: -25px;
  appearance: none;
  background: #fff;

}

input[type="checkbox"]:checked:before {
  content: "\f046";
}

input[type="checkbox"] {
  font-size: 18px;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

}

/*estilo del poput del marcador*/
#style_markers{
    /*border: 1px solid;*/
    border: 1px solid #F8F091;border-radius: 8px;text-align:center;
    font-weight: bold;
}

#style_cont{
  border: 1px solid;
}

#style_leyenda{
  font-size: 15px;
  font-weight: bold;
}

#style_table{
   /*padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid transparent;*/
    /*border: 1px solid #F0F1F2;*/
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    /*margin: 10px;     width: 450px; text-align: left;    border-collapse: collapse; */
}

#style_table>td,th,tr{
 border: rgb(223, 220, 220) 1px solid;
  /*margin: 30px;*/

 /* padding: 3px;*/

  /*width:25px;*/
  /*border: green 5px solid;*/
}

/*Estilos del buscador del municicpio*/
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.ui-autocomplete > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*Estilo de las imagenes de mapa base*/
img:hover {
  color: black;
  border-radius: 8px;
}


/*td,th{
   border: 1px solid #EBEBEB;
   border-radius: 5px;
}
tr{
   margin: 15px;
  padding: 15px;
}*/

/*estilo para la leyenda del panel de sequias2019*/
#legend-container {
  font-family: Arial, sans-serif;
  background: #ffff;
  /*opacity:0.6;*/
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;
}
#legend-container h3 {
  margin-top: 0;
}
.legend-color-box {
  height:20px;
width:20px;
border-radius:3px;
float:left;
border:1px solid black;
margin-right:6px;         
}
#seco{
background:rgba(255, 255, 0);
}
#moderada{
background:rgba(255, 211, 127);
}
#severa{
background:rgba(255, 192, 0);
}
#extrema{
background:rgba(255, 0, 0);
}
#excepcional{
background:rgba(115, 0, 0);
}

.formest{
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}