/*Estilo de mapa*/
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

/*Logos de veracruz*/
.logo_gob {
position: absolute;
top: 97%;
left: 0;
z-index: 3;
opacity:0.7;
/*text-align: center;*/
transform: translate(0, -100%);
}
@media only screen and (min-width: 300px) and (max-width: 600px){
  .logo_gob .imggob{
  top: 97%;
  left: 0;
  width: 140px;
  height: 30px;
  opacity:0.9;
  }
}


/*Menu capas*/
/*#menu_capas {
  position: absolute;
top: 300px;
left: 25%;
z-index: 10;
background-color: blue;
padding: 10px;
border: 1px solid #999;
text-align: center;
font-family: 'Roboto','sans-serif';
line-height: 30px;
padding-left: 10px;
}
#menu_capas {
margin-left: -400px;
}*/

/*menu flotante*/
#floating-panel {
position: absolute;
top: 100px;
left: 0;
z-index: 3;
/*text-align: center;*/
}

input#abrir-cerrar {
    visibility:hidden;
    position: absolute;
    top: -9999px;
}

label[for="abrir-cerrar"] {
    cursor:pointer;
    padding: 1rem;
    background-color: rgba(91, 51, 41, 0.80);
    color: white;
    display:inline-block;
}

.cerrar {
    display:none;
}

#sidebar {
    width:0;
}

#contenido {
    margin-left:0;
}

input#abrir-cerrar:checked ~ #sidebar {
    width:220px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-left:220px;
    transition: margin-left .4s;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
    display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
    display:none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 10%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color:rgba(141, 110, 14, 0.80);
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: top;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color: white;
    text-decoration: none;
    
}

.sidebar a:hover{
    color:#fff;
    background-color: #70570a;

}

h1 {
    color:#f90;
    font-size:180%;
    font-weight:normal;
}
#contenido {
    transition: margin-left .4s;
    padding: 1rem;
}

.abrir-cerrar {
    color: #2E88C7;
    font-size:1rem;   
}

/*barra de colores, boton*/
.panel_color {
  margin: 4px;
  position: absolute;
  display: block;
  top: 5%;
  right: 0;
  z-index: 3;
  /*width: 100px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  float: right;
  margin: 10px;*/
}

@media only screen and (min-width: 300px) and (max-width: 600px){
  .panel_color{
  margin: 4px;
  position: absolute;
  display: block;
  top: 16%;
  right: 0;
  z-index: 3;
  }
}

#palette-color {
  clear: both;
}

.color-button {
  width: 14px;
  height: 14px;
  font-size: 0;
  margin: 2px;
  float: left;
  cursor: pointer;
}

#delete-button {
  position: absolute;
  display: block;
  top: 110%;
  right: 0;
  z-index: 3;
}

#imprimir-pantalla {
  position: absolute;
  display: block;
  top: 300%;
  right: 0;
  z-index: 3;
}
.btn_area {
  margin: 4px;
  position: absolute;
  display: block;
  top: 0%;
  right: 0;
  z-index: 3;
  /*background-color: #578731;*/
  /*width: 100px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  float: right;
  margin: 10px;*/
}
/*Estilos de input de busqueda de lugares*/
.buscar_lugar{
  margin: 4px;
  position: absolute;
  display: block;
  top: 0%;
  left:60%;
  z-index: 10;
}

@media only screen and (min-width: 300px) and (max-width: 600px){
  .buscar_lugar {
  margin: 4px;
  position: absolute;
  display: block;
  top: 7%;
  right: 0;
  z-index: 3;
  }

  
}

#pac-input 
{
  height: calc(1.33em + .5rem + 2px);
  max-width: 180px;
}

#eliminar-place{
  width: 29px;
  height: 29px;
}

@media only screen and (min-width: 300px) and (max-width: 600px){
  #pac-input{
  position: absolute;
  display: block;
  top: 15%;
  right: 0;
  z-index: 3;
  max-width: 122px;

  }
}

@media only screen and (min-width: 300px) and (max-width: 600px){
  #eliminar-place{
  position: absolute;
  display: block;
  top: 15%;
  right: 0;
  z-index: 3;
  }
}
/*.pac-controls 
{
  display: inline-block;
  padding: 5px 11px;
}
.pac-controls label 
{
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}*/
/*
#content-input input[type=checkbox] + i:after{
  content: 'ON';
  position: absolute;
  font-size: 10px;
  color: rgba(255,255,255,0.6);
  top: 8px;
  left: 4px;
  opacity: 0 /* Ocultamos este elemento */;
  /*transition: all 0.25s ease 0.25s;
}
 
/* Cuando esté checkeado cambiamos la opacidad a 1 y lo mostramos 
#content-input input[type=checkbox]:checked + i:after{
 opacity: 1;
}*/
