
.galery-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 5px;
  width: 100%;
  justify-content: center;
}
.image {
  transition: all 0.5s;
  height: 300px;
  width: auto;
  margin: 5px;
  border-radius: 25px;
  /* box-shadow: 0px 0px 5px 5px rgba(184, 184, 184, 1); */
}
img {
  height: 100%;
  margin: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

img:hover {
  transform: scale(1.3);
  transition: all 0.8s ease;
  z-index: 2;
  padding: 0;
  margin: 0;
  opacity: 1;
}
