@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*cargar mapa*/
#map{
  height: 570px;
  /*height: 550px;*/
  /*width: 1046px;*/
  background-color: #B3B3B3;
  box-sizing: content-box;
  width: 103%;
  border:1px solid;
  margin: 0px 15px 0px -15px;
  /*margin: 0px 0px 0px -15px;*/
}

body{margin-top:50px;}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; 
}

#contenido{
   /*border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;*/
}

/*estilos de los checkbox*/
label{
    position: relative;
    cursor: pointer;
    color: #666;
    font-size: 15px;
}

input[type="checkbox"], input[type="radio"]{
    position: absolute;
    right: 9000px;
}

input[type="checkbox"] + .label-text:before{
    content: "\f096";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
}

input[type="checkbox"]:checked + .label-text:before{
    content: "\f14a";
    color: #2980b9;
    animation: effect 250ms ease-in;
}

input[type="checkbox"]:disabled + .label-text{
    color: #aaa;
}

input[type="checkbox"]:disabled + .label-text:before{
    content: "\f0c8";
    color: #ccc;
}




/*img{
  height: 60px;
  width: 50%;
}*/


/*tamaño de las ventanas modales*/
#tamano{
     /*width: 70% !important;*/
  width: 80% !important;
}
#modalinstrucciones{
  width: 65% !important;
}
/*estilos del header y su contenido*/
header{
  /*background: #333;*/
  /*color: white;*/
  /*height: 80px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;*/
  box-shadow: 3px 3px 0px #F7F7F7;
  border-bottom-color: #F8F8F8;
 
  margin-top: -70px;
 }
 nav{
  /*border: 1px solid #ECC2C2;*/
  display: inline-block;
  width: 100%;
 }
 nav ul{
  /*border: 1px solid #90DFFC;*/
  list-style-type: none;
  width: 100%;
 }
 nav li{
  /*border: 1px solid #A8E9C7;*/
  display: inline-block;
 }


/*estilo de las graficas*/
.card{
  /*margin-top: 10px;*/
  border-top-style: 1px solid #E3E3E3;
  border-right-style: 1px solid;
  border-bottom-style: 1px solid;
  border-left-style: 1px solid
}
.card-header{
  text-align: center;
}
#chartContainer{
  /*height: 400px;
  width: 400px;*/
   border: white 1px groove;
  /*margin-top: 10px;
  border-top-style: 1px solid;
  border-right-style: 1px solid;
  border-bottom-style: 1px solid;
  border-left-style: red 5px solid;*/
}
#chartContainer2{
   margin-top: 10px;
   border: white 1px groove;
  /*border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;*/
/* height: 300px;*/
}
#municip{
   margin-top: 10px;
   border: white 1px groove;
  /*border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;*/
/* height: 300px;*/
}
#chartContainer3{
   margin-top: 10px;
  /*border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;*/
/* height: 300px;*/
  border: white 1px groove;
}
.card-body{
  /*height: 400px;
  width: 400px*/
   margin-top: 10px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid
}
.btn-sm{
  width: 50%;
}
#titulo{
  text-align: center;
  
}
#cuo{
  height: 50px;
  margin-top: 13px;
}
#recult{
  width: 35%;
}
#tab{
   border-collapse: separate;
}
#divcont{
  /*altura*/
  height: 435px;
  /*ancho*/
  width: 100%;
  /*background-color: #DADADA;*/
  border: white 1px groove;
}

#divcont3{
  /*altura*/
  /*height: 473px;
  /*ancho*/
 width: 100%;
  /*background-color: #DADADA;*/
  border: white 1px groove;
}

#bd{

  text-decoration: none;
  background-color: #FEFEFE;
}
#bd:hover{
  /*color: #F8F8F8;
  background-color: #545353;*/
 /*opacity: 0.6;*/
 color: #F9FEFD;
 background-color: rgba(92, 192, 164, 1); 

/*color: rgba(92, 192, 164, 1);*/
}

#accordion{
  background-color: #3D3C3C;
  border: white 1px groove;

}
tr{
 
}
tr:hover{
  color: #08A070;
   background-color: #EDECEC;
}
#dom{
  color: #0F0E0E;
  text-decoration: none;
 /* background-color: #0A0909;*/
}

#g,#n,#e,#a,#i,#j,#m,#am,#pg,#o,#d,#ed,#ex,#cl,#pr,#ot,#ct,#fes,#for,#pre,#prod,#rcion,#tro,#tt{
 font-size: 20px;
 cursor: pointer; 
}

#cambioanio{
   /*border: 2px solid transparent;*/ 
  width: 100px;
  /*background-color: #C6C5C5;*/
  border-radius: 5px;
  border: 1px solid #39c;
}
#btn_anio{
 width: 60px;
  /*background-color: #C6C5C5;*/
  border-radius: 5px;
  border: 1px solid #39c; 
}

.footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      /*height: 40px;*/
      background-color:#EFF2F3;
      color:;
      text-align: center;
}
#foo{
  text-decoration: none;
}

/*Aqui empiezan los estios para los mensajes emergentes*/
.too {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;

}

.too .tool {
  visibility: hidden;
  width: 318px;
  height: 190px;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  text-align: center;
  position: absolute;
  z-index: 1;
}

.too:hover .tool {
  visibility: visible;
}
/*//////////////////*/
.tro {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.tro .toot {
  visibility: hidden;
  width: 318px;
  height: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  /*text-align: left;
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tro:hover .toot {
  visibility: visible;
}
/*//////////////////*/
.n {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.n .np {
  visibility: hidden;
  width: 318px;
  height: 70px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  /*text-align: left;
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.n:hover .np {
  visibility: visible;
}
/*//////////////////*/
.n {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.n .np {
  visibility: hidden;
  width: 318px;
  height: 70px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
 /* text-align: left;
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.n:hover .np {
  visibility: visible;
}
/*//////////////////*/
.e {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.e .ed {
  visibility: hidden;
  width: 318px;
  height: 90px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
 /* text-align: left;
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.e:hover .ed {
  visibility: visible;
}
/*//////////////////*/
.a {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.a .aa {
  visibility: hidden;
  width: 318px;
  height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.a:hover .aa {
  visibility: visible;
}
/*//////////////////*/
.i {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.i .ii {
  visibility: hidden;
  width: 318px;
  height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.i:hover .ii {
  visibility: visible;
}

/*//////////////////*/
.j {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.j .jj {
  visibility: hidden;
  width: 318px;
  height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.j:hover .jj {
  visibility: visible;
}
/*//////////////////*/
.m {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.m .mm {
  visibility: hidden;
  width: 318px;
  height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.m:hover .mm {
  visibility: visible;
}
/*//////////////////*/
.am {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.am .amy {
  visibility: hidden;
  width: 318px;
  height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.am:hover .amy {
  visibility: visible;
}
/*//////////////////*/
.pg {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.pg .pgp {
  visibility: hidden;
  width: 318px;
  height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.pg:hover .pgp {
  visibility: visible;
}

/*//////////////////*/
.o {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.o .ol {
  visibility: hidden;
  width: 318px;
  height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.o:hover .ol {
  visibility: visible;
}

/*//////////////////*/
.d {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.d .df {
  visibility: hidden;
  width: 318px;
  height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.d:hover .df {
  visibility: visible;
}

/*//////////////////*/
.edt {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.edt .edn {
  visibility: hidden;
  width: 318px;
  height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.edt:hover .edn {
  visibility: visible;
}

/*//////////////////*/
.ex {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.ex .ec {
  visibility: hidden;
  width: 318px;
  height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.ex:hover .ec {
  visibility: visible;
}

/*//////////////////*/
.cl {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.cl .clc {
  visibility: hidden;
  width: 318px;
  height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.cl:hover .clc {
  visibility: visible;
}


/*//////////////////*/
.pr {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.pr .pq {
  visibility: hidden;
  width: 318px;
  height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.pr:hover .pq {
  visibility: visible;
}

/*//////////////////*/
.ot {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.ot .oto {
  visibility: hidden;
  width: 318px;
  height: 70px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.ot:hover .oto {
  visibility: visible;
}

/*//////////////////*/
.ct {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.ct .cte {
  visibility: hidden;
  width: 318px;
  height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.ct:hover .cte {
  visibility: visible;
}

/*//////////////////*/
.fes {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.fes .fess {
  visibility: hidden;
  width: 318px;
  height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.fes:hover .fess {
  visibility: visible;
}

/*//////////////////*/
.for {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.for .fos {
  visibility: hidden;
  width: 318px;
  height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.for:hover .fos {
  visibility: visible;
}

/*//////////////////*/
.pre {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.pre .prp {
  visibility: hidden;
  width: 318px;
  height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.pre:hover .prp {
  visibility: visible;
}

/*//////////////////*/
.prod {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.prod .produ {
  visibility: hidden;
  width: 318px;
  height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.prod:hover .produ {
  visibility: visible;
}

/*//////////////////*/
.rcion {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
 cursor: pointer;
}

.rcion .rciono {
  visibility: hidden;
  width: 318px;
  height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   line-height: 150%;
  font-family: "Palatino", sans-serif;
  font-size: 13;
  
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.rcion:hover .rciono {
  visibility: visible;
}