


.bg-uv{
    background-color: #18529D !important ;
}

.img-uv{
    max-width: 100%;
    width: 8%;
   
}


/*Estilos para el menu */
.menu-perfil ul {
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: 11px;;
}

.menu-perfil ul li{
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
}
.menu-perfil ul li a{
    text-decoration: none;
    color: #ffffff;
}

.font-uv{
font-size: 1.2rem; 
text-align: justify;
}