.uv-img-login{
    max-width: 100%;
    width: 100%;
    height: auto;
}

/*Estilos para el menu */
.menu-perfil{
    background-color: rgba(0, 153, 50,0.8);
}

.menu-perfil ul {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.menu-perfil ul li{
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    margin-left: -39px;
    background-color: #18529D;
}
.menu-perfil ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
}

.bg-uv{
    background-color: #18529D !important ;
}
.uv-padding{
 padding: .5rem;
}

.bg-login-uv{
    box-shadow: 0 2px 6px #b6b6b6;
    border-width: 0;
    border-radius: 2px;
    width: 100%;
    margin: 0 8px 8px 0;
    padding: 16px 16px 8px 16px !important;
}



/*estylos para el footer*/
.footer-uv{
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #18529D;
    color: #ffffff;
}

.contenedor{
    position: relative;
    display: flex;   
    justify-content: flex-end;

}

.item{
    align-items: flex-end;
}

.item h5{
    padding: .5rem;
    
}