/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .tam{
          width: 100%;
          height: 300px !important;
      }

      
.d-flex a {
  margin: 5px;
  padding: .5rem;
}

.card-body ul li {
 list-style: none;
}