*{
    padding: 0;
    margin: 0;
}

.card-title-uv{
    background-color: rgba(120, 120, 120, 0.4);
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
}

.card{
    border: solid 1px #000000;
    
    margin: 1rem;
    border-radius: 5px;
}