body{
    margin: 0;
}


.footer-uv{
    width: 100%;
    height: auto;
    background-color: #18529D;
    color: #ffffff;
    position: absolute;
    bottom: 0;
}

.menu-perfil ul {
    position: relative;
    display: flex;
    justify-content: flex-end;
    
}


.menu-perfil ul li{
   text-decoration: none;
   display: inline-block;    
   padding: 1rem;
  }

.menu-perfil ul li a{
    text-decoration: none;
    color: #ffffff;
}

.bg-uv{
    background-color: #18529D !important ;
}


#register_form fieldset:not(:first-of-type) {
    display: none;
}
.enlace{
    padding: 1rem;
}

.enlace a{
    color: #ffffff;
}

