* {
    padding: 0;
    margin: 0;
}

.bg-color-uv-mapa {
    background-color: rgba(0, 153, 50, 0.8);
}

.h3-mapa-uv {
    padding: .5rem;
    color: cornsilk;
}

.img-uv {
    max-width: 100%;
    width: 44.5%;
    text-align: center;
}

.bg-color-uv-mapa-logo {
    background-color: crimson;
}

.menu-vertical {}


/*menu*/

#check {
    display: none;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    left: 195px;
}

#check:checked~section {
    margin-left: 250px;
}

label #btn,
label #cancel {
    position: absolute;
    background: #042331;
    border-radius: 3px;
    cursor: pointer;
}

label #btn {
    left: 0;
    top: 250px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 235px;
    top: 0;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #063146;
    user-select: none;
}

.sidebar ul a {
    display: contents;
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, .1);
    transition: .4s;
}

.title-category-uv {
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.op-category-uv li {
    text-align: left;
    color: aliceblue;
    padding: .5rem;
}

.text-category-uv {
    color: #fff;
}