@import url('ol.css');

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

#divloadcapa {
    overflow-y: auto;
}

#map2D .popover-content {
    /*min-width: 551px;*/
    min-width: 220px;
    padding: 0px 0px;
}

#map2D .popover {
    max-width: 670px;
}

#map2D .popover-title {
    padding: 8px 14px;
    border-radius: 5px 5px 0 0;
    background-color: #FFFFFF;
    border: 0px;
}

#map2D .new-poi-popover-content {
    min-width: 300px !important;
    padding: 5px !important;
}

#map2D .new-poi-popover-title {
    position: absolute !important;
    right: 0px !important;
}

#map2D .poi-popover-content {
    min-width: 280px !important;
    padding: 5px !important;
}

#map2D .poi-popover-title {
    position: absolute !important;
    right: 0px !important;
}

#map2D button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

#map2D .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*overflow-x: hidden;*/
    font-size: 13px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*body {
    overflow-x: hidden;
}*/

a:active, a:active *, button {
    outline: none !important;
    -moz-outline-style: none !important;
}

a:focus, a:focus *, button {
    outline: none !important;
    -moz-outline-style: none !important;
}

#header .breadcrumb {
    margin-bottom: 0;
    background-color: #DDDDDD;
    padding: 15px 0 0px 10px;
    border-radius: 0px;
}

    #header .breadcrumb > li + li:before {
        color: #000;
    }

    #header .breadcrumb > .active {
        color: #000;
    }


#header .st_barra-nav {
    margin-bottom: 0;
    font-size: 0.86em;
    padding: 0 10px;
    list-style: none;
}

    #header .st_barra-nav li {
        display: inline-block;
    }

#headerTitle {
    color: #726E16;
    background-color: #F0F0F0;
    padding: 5px;
}
nav {
    width: 100%;
    position: inherit;
    background: #222;
    border-top: none;
    /* z-index: 3000;*/
        
}

#headerTitle h2 {
    margin: 0;
    background-color: #FFF;
    padding: 10px 0 10px 5px;
    font-size: 1.6em;
    display: inline-block;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

#bannerTitle {
    background-color: #FFF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: #ddd 1px solid;
}

#serversInfo {
    color: #FFF;
}

#map-canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#hipervinculo {
    color: #2279c0;
    text-decoration: none;
}

#page-container {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
}

#sidemenu {
    z-index: 1000;
    /*position: absolute;*/ /*fixed;*/
    position: fixed;
    left: 400px;
    width: 400px;
    height: 100%;
    margin-left: -400px;
    /*overflow-y: auto;*/
    background: #FFFFFF;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#tool-buttons {
    /*display: block !important;*/
    position: relative;
    top: 10px;
    /*right: 10px !important;
        padding-left: 10px;*/
}

#tool-buttonsLeft {
    position: relative;
    top: 9px;
}

#sidemenu .panel-heading {
    border-radius: 3px;
}

#tab-nav {
    padding: 0 0 0 5px;
    background-color: #fff; /*#777777*/
    ; /*#767A01;*/
}

    #tab-nav a {
        color: #3568bb /*#FFF*/;
        padding: 5px 15px;
    }

.dblradioParent {
    margin-left: 3px;
}

#Ex_esp, #Ex_esp2, #Ex_esp3, #Ex_esp4 {
    color: #FFF;
    background-color: #337ab7;
    border-color: #2e6da4;
}

    #Ex_esp:hover, #Ex_esp2:hover, #Ex_esp3:hover, #Ex_esp4:hover {
        color: #FFF;
        background-color: #286090;
        border-color: #204d74;
    }

#tab-nav a:hover {
    color: #777777; /*#767A01;*/
}

#tab-nav .active a {
    font-weight: bold;
    /*color: #000;*/
}

#disabledScreen {
    position: fixed;
    padding: 0;
    margin: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}

#query-result h4, .resParam {
    background: rgb(231, 231, 231); /*rgba(0, 0, 0, 0.6);*/
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 12px;
}

#query-result-title {
    margin-bottom: 15px;
}

    #query-result-title h4 {
        text-align: center;
    }

#trLocalidad_Mza {
    display: none;
}



#vivienda-list {
    padding-left: 16px;
}

#query-result-content .pagination {
    margin: 0px 10px 0px 10px;
    float: right;
}

    #query-result-content .pagination > .active > span {
        background-color: #EEE; /*rgba(0,0,0,0.8);*/
        border-color: #DDD; /*717171;*/
        color: #23527c;
    }

    #query-result-content .pagination > li > a {
        color: #2a6496;
        opacity: 0.8;
    }

        #query-result-content .pagination > li > a:hover {
            background-color: #eee;
            opacity: 0.8;
        }

#spanDetalleDenue {
    float: right;
    cursor: pointer;
}

#ulActividad {
    display: none;
}

.snippet_result_busqueda {
    font-size: smaller;
}

#DENUE-footer {
    margin-top: 10px;
    background: rgba(0,0,0,0);
    border-top: 0;
}

#totEstablec {
    margin: 5px 0 0 0px;
    float: left;
}

.col-md-12 {
    padding-right: 5px !important;
    padding-left: 5px !important;
    top: 0px;
    left: 0px;
    /*height: 17px;*/
}

.asRow {
    display: table-row;
}

.asTable {
    display: table-cell;
}

.listDesc {
    width: 1000px;
}

.listNum {
    padding: 0 10px 0 25px;
}

.millares {
    text-align: right;
}

#span_8 {
    float: right;
    padding-right: 1px;
}

#ulListaDENUE, #ulActividad {
    overflow-y: auto;
    position: absolute;
    margin-top: 5px;
    right: 20px;
    left: 20px; /*20px;*/
}

    #ulListaDENUE li, #ulActividad li {
        padding: 2px 2px 2px 5px;
    }

        #ulListaDENUE li:hover, #ulActividad li:hover {
            background: rgba(200, 200, 200, 0.6);
        }

#habitadas-total, #poblacion-total, #divclonParamBusq {
    cursor: pointer;
    /*padding-left: 5px;*/
}

#habitadas-list {
    display: none;
    padding-left: 31px;
}

#poblacion-list {
    padding-left: 33px !important;
}

/*#nohabitada-list{
    padding-left: 23px;
}*/

#nohabitada-list img {
    margin-left: 28px !important;
    margin-right: 10px !important;
}

#listpaginacion {
    margin-top: 20px;
    margin-left: 8px;
}

/*.number{
    float: right;
}*/

#collapse-tool-button, #collapse-tool-buttonLeft {
    font-size: large;
}

#circle-size .input-group-addon {
    border-right: 0;
}
/*Original de Espacioy Datos Google*/
/*#tabToolsInfo {
    top: 50px !important;
    width: 300px;
    background-color: #FFF;
    border-radius: 3px;
    display: none;
}

    #tabToolsInfo .tab-content {
        padding: 10px;
        text-align: center;
    }

    #tabToolsInfo .close {
        margin-right: 6px;
    }*/

/*OpenLayer*/
#tabToolsInfo {
    top: 230px !important;
    width: 300px;
    /*left:1100px;*/
    right: 0px;
    background-color: #FFF;
    border-radius: 3px;
    display: none;
    position: absolute;
    z-index: 1;
}

    #tabToolsInfo .tab-content {
        padding: 10px;
        text-align: center;
    }

    #tabToolsInfo .close {
        margin-right: 6px;
    }

#carouselModal .close {
    margin: -10px -5px;
}

.imgCarousel {
    margin: auto;
    max-height: 77vh;
}

.carousel-control {
    padding-top: 50px;
    width: 35px;
    height: 126px;
}

.controls {
    width: 50px;
    display: block;
    font-size: 14px;
    padding-top: 8px;
    font-weight: bold;
}

    .controls:hover, .controls:link {
        text-decoration: none;
    }

.next {
    float: right;
    text-align: right;
}

#iw-container {
    padding: 0 0 10px 20px;
}

#infowTable tr {
    vertical-align: initial;
}

#iw-container .thumbnail {
    margin-bottom: 0;
    margin-top: 2px;
}

.infowindow-heading {
    padding: 5px;
    background-color: #767A01;
    color: #FFF;
    font-weight: 500;
}

    .infowindow-heading h5 {
        margin: 0;
    }

.infowindow-body, .infowindow-body .btn {
    margin-top: 5px;
}

    .infowindow-body .input-group {
        margin: 5px 0;
    }

#selectIconContainer {
    display: inline-block;
    margin: 3.5px 0;
}

#selcIcon {
    display: inline;
    background-color: #EEE;
    padding: 5px 10px 9px;
    border: 1px solid #CCC;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0px;
}

#iconPINContainer {
    display: inline;
    border: 1px solid #CCC;
    border-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 130px;
    /*display: inline-block;*/
    height: 29px;
    padding-top: 4px;
    padding-bottom: 8.5px;
    text-align: center;
}

.alert-zoom-radio {
    opacity: 0.6;
    cursor: no-drop;
}

#iconPINContainer img {
    margin: 0 8px;
}

.zoom {
    font-size: 1.14em;
    display: block;
    margin: 1px;
    padding: 0;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    background-color: rgba(0,60,136,.5);
    border: none;
    border-radius: 2px;
}

    .zoom span {
        font-size: 12px;
    }

.divmousePosition {
    display: block;
    margin: 0px;
    padding: 0;
    color: #fff;
    /*font-weight: 700;*/
    text-decoration: none;
    text-align: center;
    height: 1.375em;
    width: 11em;
    border: none;
    font-size: 10px;
}

.ol-mouse-position {
    background-color: rgba(0,60,136,.3);
    top: 0px;
    /*border: 1px solid rgba(255,255,255,.4);*/
    border-radius: 2px;
    padding: 2px;
}

.query-result-section {
    z-index: 1;
    /*background: rgba(134, 134, 134, 0.2);*/
    border-radius: 10px;
    padding: 10px; /*20px;*/
    border: 1px solid #ccc;
}

.query-result-section-content {
    padding: 0 17px;
}

.query-result-space {
    padding: 10px;
}

#INV-info {
    overflow-y: auto;
    min-height: 415px;
}

/*.collapse-icon{
    left: 50%;
    top: -10%;
}*/

#tool-buttons .btn[disabled] {
    opacity: 1;
    pointer-events: inherit;
    cursor: no-drop;
    background-color: #DDD
}

#tool-buttons .tooltip {
    position: fixed;
    /*z-index: 100000;
    position: fixed !important;
    display:block;*/
}

.tool-icon {
    background-position: center;
    background-repeat: no-repeat;
    height: 35px;
    width: 45px;
}

.tool-iconMax {
    width: 77px;
    padding-left: 3px !important;
    text-align: left;
    background-color: #FFF !important;
}

.manzana_Dis-icon {
    /*background:url('../images/ico_manzana.png') no-repeat right !important; url('../images/ico_manzana_dis.png') no-repeat right !important;*/
    cursor: no-drop;
    /*background-color: #DDDDDD !important;*/
}

.copacidad {
    opacity: 0.3;
    width: 24px;
}

.manzana_off-icon {
    /*background:url('../images/ico_manzana.png') no-repeat right !important; url('../images/ico_manzana_off.png') no-repeat right !important;*/
    background-color: #FFF !important;
}

/*.manzana_off-icon:hover{
    background:url('../images/ico_manzana_on.png') no-repeat right !important;
    background-color: #FFF !important;
}*/
.manzana-icon {
    /*background:url('../images/ico_manzana.png') no-repeat right !important;*/
    /*url('../images/ico_manzana_on.png') no-repeat right !important;*/
    background-color: #DDDDDD !important;
}

/*.manzana-icon:hover{
    background-image:url('../images/ico_manzana_on_over.png');
}*/
.imprimir-icon {
    background-image: url('../images/ico_imprimir.png') !important;
}

.vista-icon {
    background-image: url('../images/inegi-guardar.png') !important;
}
/*.imprimir-icon:hover{
    background-image:url('../images/ico_imprimir_over.png') !important;
}*/
.pinteres-icon {
    background-image: url('../images/ico_punto_int.png') !important;
}
/*.pinteres-icon:hover{
    background-image:url('../images/ico_punto_int_over.png') !important;
}*/

.polygon-icon {
    background-image: url('../images/ico_polygon.png') !important;
}

.rectangle-icon {
    background-image: url('../images/ico_rectangle.png') !important;
}

/*.polygon-icon:hover{
    background-image:url('../images/ico_polygon_on.png') !important;
}*/

.rectangle-on-icon {
    background-image: url('../images/ico_rectangle.png') !important; /*url('../images/ico_polygon_on.png') !important;*/
    background-color: #DDDDDD
}

.malla-icon {
    background-image: url('../images/malla.png') !important;
    /*background-color: #DDDDDD;*/
    /*width:30px;*/
}

.malla-on-icon {
    background-image: url('../images/malla.png') !important;
    background-color: #DDDDDD;
}

.polygon-on-icon {
    background-image: url('../images/ico_polygon.png') !important; /*url('../images/ico_polygon_on.png') !important;*/
    background-color: #DDDDDD
}
/*.polygon-on-icon:hover{
    background-image:url('../images/ico_polygon_on_over.png');
}*/

.polygon-dis-icon {
    /*background-image:url('../images/ico_polygon.png') !important; url('../images/ico_polygon_dis.png') !important; */
    cursor: no-drop;
    /*background-color:#DDD;*/
}

.circle-icon {
    background-image: url('../images/ico_circle.png') !important;
}

/*.circle-icon:hover{
    background-image:url('../images/ico_circle_on.png') !important;
}*/

.circle-on-icon {
    background-image: url('../images/ico_circle.png') !important; /*url('../images/ico_circle_on.png') !important;*/
    background-color: #DDDDDD
}

/*.circle-on-icon:hover{
    background-image:url('../images/ico_circle_on_over.png');
}*/

.circle-dis-icon {
    /* background-image:url('../images/ico_circle.png') !important; url('../images/ico_circle_dis.png') !important;*/
    cursor: no-drop;
    /*background-color:#DDD;*/
}

.rule-icon {
    background-image: url('../images/ico_measure.png') !important;
}

/*.rule-icon:hover{
    background-image:url('../images/ico_measure_on.png') !important;
}*/

.rule-on-icon {
    background-image: url('../images/ico_measure.png') !important; /*url('../images/ico_measure_on.png') !important;*/
    background-color: #DDDDDD;
    /*#E5F2C0*/
}

/*.rule-on-icon:hover{
    background-image:url('../images/ico_measure_on_over.png');
}*/

.borrar-icon {
    background-image: url('../images/ico_clean.png') !important;
}

/*.borrar-icon:hover{
    background-image:url('../images/ico_clean_off_over.png') !important;
}*/

.kml-icon {
    background-image: url('../images/ico_capa.png') !important;
    /*width: 65px;*/
}

/*.kml-icon:hover{
    background-image:url('../images/ico_kml_over.png') !important;
}*/

.wms-icon {
    background-image: url('../images/ico_wms.png') !important;
    width: 65px;
}

/*.wms-icon:hover{
    background-image:url('../images/ico_wms_over.png') !important;
}*/

.sidemenu-nav *, #query-result *, #filtros * {
    list-style: none;
}

#map-content {
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: absolute;*/
    position: relative;
    /*height: 100%;*/
}


#page-container.active {
    left: 400px;
}

    #page-container.active #map-content {
        /*position: absolute;*/
        /*margin-right: -400px;*/
    }

#visualizar {
    overflow: auto;
}

    #visualizar .input-group, #capasActivas .input-group {
        margin: 5px;
    }

    #visualizar .panel-body, #capasActivas .panel-body {
        border-top-width: 0;
    }

    #visualizar .tooltip.right, #capasActivas .tooltip.right {
        width: 180px;
    }

    #visualizar .popover-title, #visualizar .popover-content, #capasActivas .popover-title, #capasActivas .popover-content {
        padding: 8px;
    }

    #visualizar .close-popover, #capasActivas .close-popover {
        margin-top: -4px;
    }

    #visualizar .popover, #capasActivas .popover {
        width: 275px;
        cursor: auto !important;
    }

.metadatos {
    margin-left: 0px;
    cursor: pointer !important;
    margin-right: 3px;
}

.infoAdd {
    top: 4px;
    cursor: pointer !important;
}
/* Sidebar Styles */

.sidemenu-nav {
    top: 0;
    margin: 0;
    padding-left: 0;
}

    .sidemenu-nav li, #filtros li, #vivienda-total {
        cursor: pointer;
    }

    .sidemenu-nav ul, #query-result ul {
        padding: 0;
    }

    .sidemenu-nav li, #filtros li {
        line-height: 25px;
        /*padding-left: 10px;*/
    }

        .sidemenu-nav li a {
            display: block;
            text-decoration: none;
            color: #000000;
        }


            .sidemenu-nav li a:active,
            .sidemenu-nav li a:focus {
                text-decoration: none;
            }

    .sidemenu-nav > .sidebar-brand {
        line-height: 30px;
        height: 100%;
        text-align: center;
    }

        .sidemenu-nav > .sidebar-brand a {
            color: #999999;
        }

.option-text {
    /*padding-left: 5px;*/
}

/*#query-result img {
    vertical-align: baseline;
    margin: 0px 7px 0px 5px;
}*/

.option-icon {
    vertical-align: baseline;
    margin: 0px 7px 0px 5px;
}

.alert {
    display: none;
    position: absolute;
    z-index: 1001;
    left: 50%;
}


/* Menu */

#grupo_capa7_4 li {
    height: 21px;
}

.menu-nav {
}

.menu-title, .menu-submenu-title {
    background-color: #C2D289 !important;
    font-weight: bold;
}

/* Sub-Menu */
.submenu-nav {
    overflow-x: hidden;
    overflow-y: auto;
}

    .submenu-nav .glyphicon {
        margin-right: 3px;
    }

.submenu-title {
    background-color: #DDDDDD;
    font-weight: bold;
}

    .menu-title span, .submenu-title span {
        float: right;
        margin: 5px 8px;
    }

.submenu-nav li {
    font-size: 13px;
    /*padding: 10px;*/
}

.submenu-nav .ul li ul {
    background-color: #fff;
    /*padding: 10px;*/
}

    .submenu-nav .ul li ul li {
        background-color: #FFF;
        margin: 1px 10px;
        width: 95%;
        /*padding: 10px;*/
    }

        .submenu-nav .ul li ul li:hover {
            background-color: #f0f0f0;
            /*padding: 10px;*/
        }

.submenu-nav .ul li ul {
    background: #FFF;
    /*padding: 10px;*/
}


#layer-button-container {
    z-index: 1 !important;
}

#layer-button {
    left: 0;
    top: 10px;
    position: absolute;
    z-index: 1;
    line-height: 1.5;
    padding: 3px 10px;
}

#layer-button_2 {
    margin-left: 100%;
    margin-top: -1px;
    line-height: 1.5;
    padding: 3px 10px;
    width: 44px;
    height: 45px;
    border-radius: 0 9px 9px 0;
    background: #f0f0f0 !important;
}

#zoom-level {
    margin-left: 10px !important;
    width: 29px !important; /*120px !important;*/
}

    #zoom-level input {
        cursor: text;
        padding: 2px 2px 0px 0px;
        text-align: center;
        font-size: 12px;
        height: 28px;
    }

.sidemenu-panel {
    display: none;
    margin-bottom: 0;
    /*border-width: 0;*/
    border-bottom-width: 0;
}

    .sidemenu-panel .panel-heading .glyphicon {
        margin-right: 7px;
    }

    /*.sidemenu-panel .panel-heading button {
    float: right;
    background-color: #C2D289; 
    border-color: #767A01; 
    border-width: 1px;
    padding: 1px 1px 1px 5px;
}*/

    .sidemenu-panel .panel-body {
        padding: 0;
        overflow-y: auto;
    }

#panels-container {
    /*padding: 0 10px;*/
}

#resultAPI {
    cursor: auto;
}

    #resultAPI .grupo-titulo {
        padding: 5px;
        padding-left: 10px;
        /*border: 1px solid #DDD;*/
        border-bottom-width: 0;
        cursor: pointer;
    }
/*.item_result_busqueda{
    padding-left: 10px;
}*/
.item_result_busqueda {
    margin-left: 25px;
    border-top: 1px solid #DDD;
    /*border-right: 1px solid #DDD;*/
}

.item_result_busqueda_over {
    /*padding-left: 10px;*/
    /*background-color: #DDDDDD;*/
}

#search-text {
    cursor: text;
}

#search-text, #removeResAPI, #btnbuscar {
    height: 35px;
}

#search_results_list {
    margin: 0;
    padding: 0px;
}

.grupo-titulo, .search_result_item {
    border-bottom-color: #DDD;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 10px;
}

.collapsed {
    background: rgb(247, 247, 247);
}

.grupo-titulo .glyphicon {
    margin-right: 10px;
}

.grupo {
    display: none;
}

.search_result_item {
    padding-left: 32px !important;
    min-height: 45px;
    font-size: 13px;
}

.search_result_snippet {
    font-size: smaller;
    line-height: 1;
}

#visualizar .panel-body, #capasActivas .panel-body {
    padding: 0;
}

#visualizar .collapsed, #capasActivas .collapsed {
    background: rgba(255, 255, 255, 0);
}

#visualizar .panel, #capasActivas .panel {
    margin: 5px;
}

#visualizar .panel-group .panel + .panel, #capasActivas .panel-group .panel + .panel {
    margin-top: 0;
}

#visualizar .panel-heading .accordion-toggle:after, #capasActivas .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e113";
    float: left;
    margin-right: 7px;
}

#visualizar .panel-heading.collapsed .accordion-toggle:after, #capasActivas .panel-heading.collapsed .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
}

#CarreterasActive {
    display: none !important;
}
/*#collapseInnerOne .panel-body{
    border-width: 0;
}

.layer-panel {
  border-bottom-width: 0;
}*/

#layers-accordion {
    /*padding: 0 10px;*/
}

ul#layer_container_IndicaActive li > table {
    float: left;
}

#estadistica-accordionActive {
    margin-top: 5px;
}

#layers-accordion, #estadistica-accordion, #layers-accordionActive, #estadistica-accordionActive {
    margin-bottom: 0;
}

    #layers-accordion .panel-title, #layers-accordionActive .panel-title {
        font-size: 14px;
    }

    #layers-accordion .panel-heading, #layers-accordionActive .panel-heading {
        background-color: #CCCCCC; /*#C2D289;*/
    }

    #layers-accordionActive ul {
        list-style: none;
        padding: 0;
    }

#collapseOne .panel-body {
    /*padding: 5px;*/
}

#collapseOne .panel-heading {
    background-color: #CCCCCC; /*#E5F2C0 !important;*/
}

/*#layers_container_MAPA .glyphicon {
  top: -3px;
}*/

#filtros {
    overflow-y: auto;
}

#filtro_1 .panel-body, #filtro_2 .panel-body {
    min-height: 205px;
    max-height: 270px;
}

#filtros .panel-body {
    font-size: 12px;
    padding: 5px;
}

#filtro_1 .input-group-sm {
    margin-top: 10px;
}

#filtro_3 .collapsible-area {
    max-height: 325px;
    overflow-y: hidden;
}

#filtro_3 .form-control {
    padding: 1px;
    height: 25px;
    font-size: 12px;
    margin-bottom: 10px;
}

#filtro_3 .btn {
    margin-top: 10px;
}

#filtro_3 input {
    padding: 0 6px !important;
}

.tooltip-wrapper {
    display: inline-block;
}

.tooltip-extra {
    display: inline-block;
    width: 361px;
}

#filtros .panel-heading span {
    margin-right: 7px;
}

#filtros .panel {
    margin: 5px;
}

#filtros .panel-default > .panel-heading, #visualizar .panel-default > .panel-heading, #capasActivas .panel-default > .panel-heading {
    background-color: #F0F0F0; /* #DDDDDD; #C2D289;*/
    cursor: pointer;
    padding: 5px 10px;
}

#filtros .collapsible-area ul {
    padding-left: 5px;
    display: none;
}

/*#filtros .collapsible-area .glyphicon{
    top: 5px;
    float: left;
}*/

#filtros-button-search {
    /*/*display: none;*/ */ padding: 5px 27px;
    background-color: #DDD;
    text-align: right;
}

.collapsible-area {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    max-height: 190px;
}

    .collapsible-area .glyphicon {
        margin-right: 5px;
    }

.layer-modal .input-group {
    margin: 10px 10px 0 10px;
}

.layer-modal .help-block {
    margin-left: 10px;
    margin-top: 0;
}

#kml-url {
    padding: 20px 0 0 0;
}

#kml-file {
    padding: 25px 0 0 20px;
}

.listaKML {
    width: 100%;
    padding: 0px 0px 5px 5px !important;
}

#csv_capa {
    padding: 25px 0 0 0px;
}

#shp_capa {
    padding: 25px 0 0 0px;
}

input[type=checkbox], input[type=radio] {
    height: 17px;
    width: 17px;
    margin-right: 3px;
    margin-top: 5px;
}

#divRes input[type=checkbox], #divRes input[type=radio] {
    vertical-align: sub;
}

#sidemenu input[type=checkbox], #sidemenu input[type=radio] {
    float: left;
}

#collapse-icon-container {
    display: none;
    position: absolute;
    z-index: 10000;
    background: rgba(255, 255, 255, 1);
    bottom: 0%;
    width: 160px; /*50px;*/
    height: 30px;
    text-align: center;
    padding-top: 5px;
    /*color: #FFFFFF;*/
    left: 50%;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    transform: translate(-50%);
    z-index: 1040;
    /*position: relative;*/
    border-top: solid 1px #ddd;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
}

#query-result {
    display: none;
    left: 0;
    position: absolute;
    bottom: 0;
    /*width: 94%;*/
    height: 0%; /*93%;*/
    z-index: 500;
    background: #fff; /*rgba(0,0,0,0.8);*/
    color: #555; /*whitesmoke;*/
    padding: 10px 10px 15px 30px;
    left: 59px;
    right: 9px;
    border-radius: 5px 5px 0px 0px;
    max-width: 1300px;
    margin: auto;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    border-top: solid 1px #ddd;
}


.btn_descarga {
    background: transparent url(../images/ico_descargar.png) center right no-repeat;
    background-position-x: 65px;
    width: 100px;
    text-align: left;
}

.btn_consultaHerram {
    background: transparent url(../images/ico_consultar.png) center right no-repeat;
    background-position-x: 65px;
    width: 90px;
    text-align: left;
}

#descargaModal .modal-dialog {
    width: 618px !important;
}

/*@media(min-width: 1200px) and (min-height: 710px){
    .query-result-section{
        height: 85%;
    }
}*/
.tiposmap {
    background-color: white;
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px !important;
    font-weight: 500 !important;
    -webkit-user-select: none;
}

    .tiposmap:hover {
        background-color: rgb(235,235,235);
    }

/*****************************Ficha ubicación*****************************/


.gm-style-iw {
    top: 3px !important;
    left: 10px !important;
    overflow: hidden;
    /*width: 645px !important;*/
}

    .gm-style-iw div:first-child,
    .gm-style-iw div:first-child div:first-child {
        overflow: hidden;
    }

.contenedorInfoUbicacion {
    /*border: 10px solid #D5D5D5;*/
    margin: 0px;
    padding: 0 10px 10px;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    border-radius: 5px;
    min-width: 650px;
}

#contenedorInfoMunicipio .tab-pane {
    height: 242px !important;
}

#contenedorInfoEntidad .tab-icon,
#contenedorInfoMunicipio .tab-icon {
    height: 28px !important;
    margin-top: 3px;
}

#contenedorInfoEntidad .tabs-left > .nav-tabs > li > a,
#contenedorInfoMunicipio .tabs-left > .nav-tabs > li > a {
    height: 49px;
}

.contenedorInfoUbicacion .tabs-left > .nav-tabs > li.active > a {
    border-right-color: transparent !important;
}

.contenedorInfoUbicacion .tab-pane {
    padding: 5px;
    margin-left: 60px;
    /*width: 560px;*/
    height: 240px;
    border: solid 1px rgba(139, 139, 139, 0.36);
    border-radius: 0 5px 5px 0;
    overflow-x: auto;
}

.contenedorInfoUbicacion .alert {
    display: initial;
    padding: 5px;
    left: initial;
}

#infoUbicacion {
    /*display: -webkit-inline-box;*/
    display: inline-flex;
}

#contenedorAreaUbicacion {
    position: relative;
    width: 100px;
    height: 70px;
    overflow: hidden;
    margin-top: 15px;
}

    #contenedorAreaUbicacion img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

#contenedorInfoLocalidad #infoUbicacionDatos {
    margin: 10px 0 0 10px;
}

#infoUbicacionDatos {
    margin: 5px 0 0 10px;
}

#nombreUbicacion {
    font-size: 30px;
    font-weight: bolder;
    color: #007AC4;
}

.nombreUbicacionLocalidad {
    font-size: 18px !important;
}

.tituloConcepto {
    font-weight: bold;
}

#linkMasInfoUbicacion {
    background-color: #D6D6D6;
    border-color: transparent;
}

#linkMasInfoUbicacionP {
    position: absolute;
    /*right: 15px;*/
    top: 70px;
    width: 70%;
    text-align: right;
}

#linkMasInfoUbicacion * {
    color: #000;
}


#linkMasInfoUbicacion .alert-link {
    font-weight: normal;
}

/* custom inclusion of right, left and below tabs */
.tab-icon-Container {
    padding: 6px !important;
}

.tab-icon {
    height: 28px;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-left > .nav-tabs > li {
    float: none;
    text-align: center;
}

    .tabs-left > .nav-tabs > li > a {
        border-radius: 0;
        min-width: 60px;
        margin-right: 0;
    }

.tabs-left > .nav-tabs {
    float: left;
    border-bottom: 0;
    /*background: rgba(139, 139, 139, 0.36);*/
    background: #FFF;
    border-radius: 5px 0 0 5px;
}


    .tabs-left > .nav-tabs a {
        border-color: #DDD !important;
        height: 50.2px;
    }

    .tabs-left > .nav-tabs .first-tab {
        border-top-left-radius: 5px;
    }

    .tabs-left > .nav-tabs .last-tab {
        margin-bottom: 1px !important;
        border-bottom-left-radius: 5px;
    }

    .tabs-left > .nav-tabs > .nav > li > a:focus,
    .tabs-left > .nav > li > a:hover {
        background-color: #FFF;
    }

    .tabs-left > .nav-tabs > .nav > li > a,
    .tabs-left > .nav > li > a {
        background-color: #EEE;
        border-right-color: transparent !important;
    }

#denueContainerChart {
    /*//display: -webkit-inline-box;*/
    display: inline-flex;
}

#chartlegend li {
    display: none;
}

.chartLegend {
    padding-left: 0;
    margin-left: 10px;
    margin-top: 35px;
    width: 195px;
    text-align: justify;
}

    .chartLegend li {
        padding: 5px 0;
    }

#poblacionChart {
    width: 450px;
    height: 280px;
}

#viviendasChart {
    width: 530px;
    height: 189px;
}

#denueChart {
    width: 320px;
    height: 185px;
}

#conevalChart {
    width: 530px;
    height: 183px;
}

.legendColor {
    padding: 5px;
    margin-bottom: -5px;
    height: 18px;
    width: 25px;
    /*display: -webkit-inline-box;*/
    display: inline-flex;
}

#namec1, #namec2, #namec3 {
    font-size: 12px;
}


.icoZonas {
    margin-right: 5px;
    height: 30px;
}

.tabTitle {
    color: #333333;
    font-size: 16px;
    fill: #333333;
    text-align: left;
    font-weight: bold;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.tabTitleActividad {
    color: #1CA8AE;
    font-size: 13px;
    font-weight: bold;
}

#pralActividad,
.tabTitleActividad {
    float: right;
}

.tabSubtitle {
    font-size: 16px;
}

.titleList {
    font-weight: bold;
}

#contenedorInfoEntidad .tab-pane,
#contenedorInfoMunicipio .tab-pane,
#contenedorInfoLocalidad .tab-pane {
    padding: 10px 15px 0px !important;
}

#totalViviendas {
    color: #FF6971;
}

#entornourbanoTab .tabTitle {
    margin-bottom: 5px;
}

#thManzanas {
    border-bottom: 1px solid;
}

#thVialidades {
    border: 1px solid;
    border-bottom: none;
    text-align: center;
}

#trVialidades th {
    border: 1px solid;
    border-right: none;
}

    #trVialidades th:last-child {
        border-right: 1px solid #CCCCCC !important;
    }

#entornourbanoTab table {
    border-collapse: separate;
    border-spacing: 0;
}

#denueTab .tabTitle {
    /*margin-top:5px;*/
}

span.fm-label {
    font-weight: bold;
}

#socioeconomicosTab span {
    margin: 5px 3px;
}

#tablaEntornoUrbano {
    margin: auto;
    color: #585858;
    /* margin-bottom:2px;*/
}

    #tablaEntornoUrbano th {
        width: 75px;
    }

        #tablaEntornoUrbano th:last-child {
            width: 115px;
        }

    #tablaEntornoUrbano td,
    #tablaEntornoUrbano th {
        padding: 3px 7px;
    }

    #tablaEntornoUrbano > tbody > tr:nth-of-type(odd) {
        background-color: #EFEFEF;
    }

    #tablaEntornoUrbano thead {
        color: #4A4A4A;
    }

    #tablaEntornoUrbano * {
        border-color: #CCCCCC !important;
    }

.cifra {
    text-align: right;
}

#toggleHeatMapButton {
    display: none;
}

.tdTop {
    vertical-align: top;
}

.tdBottom {
    vertical-align: bottom;
}

#overlayHeatMap {
    display: none;
    background-color: #EEE;
}

#gradientHeatMap {
    height: 150px;
    width: 30px;
    background: -webkit-linear-gradient(red, yellow, green); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow, green); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow, green); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow, green); /* Standard syntax (must be last) */
}

#tiposMapaImg {
    float: left;
    margin-left: 122px;
    margin-top: 10px;
}

    #tiposMapaImg img {
        width: 235px;
        display: none;
    }

.line-vertical {
    border-right: 1px solid #e5e5e5;
}

.just {
    text-align: justify;
}

#divSeleccionDescarga .radio {
    line-height: 2;
    margin-bottom: 20px !important;
}

#divSeleccionDescarga .checkbox {
    line-height: 2;
    margin-bottom: 5px !important;
}

#divSeleccionDescarga .col-lg-7 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


.recor_ {
    display: inline-flex;
}

.cortarTexto {
    margin-left: 3px !important;
    max-width: 205px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

cortarTextoEnt {
    margin-left: 3px !important;
    max-width: 300px;
}

.select_mapa {
    background: #337abc;
    color: white !important;
}

.s_fuente {
    font-size: 8pt;
}

#loading_ {
    z-index: 100;
    margin-top: 97px;
    margin-left: 321px;
    position: absolute;
}

#loading_d, #loading_v, #loading_eu {
    z-index: 100;
    /*margin-top: 71px;
    margin-left: 252px;*/
    position: absolute;
    width: 100%;
    height: 60%;
}

text[y='175'], text[y='180'], text[y='184'], text[y='178'] {
    display: none;
}

.descarga_cap {
    background-image: url('../images/descargar_cartas.png') !important;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 15px;
    margin-left: 3px;
    background-color: white;
    border: 0px;
}

#divresult, #divlayers, #divroute {
    display: none;
}




/*************************** ESTILOS DE MODAL *******************************************/
.modal {
    text-align: center;
    padding: 0 !important;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}


.cortarTextoWMS {
    width: 280px; /*máximo ancho del div para poner puntos suspensivos*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



/**********************************, MAPA.CSS **************************************************/
#map2D {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

#divOverlay {
    background-color: white;
    width: 330px;
    padding: 2px;
    /*position: absolute;*/
    display: none;
    float: left;
    z-index: 1;
    bottom: 40px;
    /*margin-left: 57px;*/
}

#divmenugen {
    display: none;
    top: 0px;
    position: absolute;
    bottom: 0;
    height: 1%;
    z-index: 3;
    background: #fff;
    left: 67px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
}

ul#ulmenugen li a {
    position: relative;
    font-weight: bold;
    color: #0E83CD;
    margin: 0px 15px;
    text-decoration: none;
    cursor: pointer;
}

    ul#ulmenugen li a:after {
        position: absolute;
        bottom: 7px;
        left: 0px;
        width: 105%;
        height: 4px;
        background-color: #0E83CD;
        content: "";
        opacity: 0;
        transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
        transform: translateY(20px);
    }

/*ul#uldescarga li a:hover:after*/
/*.menuDescargaSelect:after {
    opacity: 1 !important;
    transform: translateY(16px) !important;
}*/
#Div_Reg {
    /*top: 115px;
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 200px;
    padding: 2px;
    position: absolute;*/
    float: left;
    display: none;
    /*margin-left: 57px;
    background-color: white;
    font-size: 12px !important;*/
}

.oculta {
    display: none !important
}

.snippet_result_busqueda {
    font-size: x-small;
}

.FondoAplicacion {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}


.fichaFondo {
    background-color: #f9f9f9;
}

#ctrl_zoomMapa {
    background-color: #fff;
    color: #666;
    width: 107px;
    height: 23px;
    text-align: center;
    padding-top: 3px;
    border: 2px solid #888;
}

#tableActEcoSelect {
    width: 100%;
}

.parentPartialSelect {
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.parentPartialSelectTD {
    background-image: url("../Images/imgNegra.png");
    background-position: center;
    background-repeat: no-repeat;
}

.layer_list {
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: inherit;
    padding-left: 0px;
}

.iconSelect {
    vertical-align: top;
    border-color: #9d9d9d;
    border-style: solid;
    /*border-width: 2px;*/
    padding: 2px;
    background-color: #999;
    border-radius: 5px;
}

.icon_off {
    cursor: pointer;
    padding: 2px;
}

#spanDetalleDenue {
    cursor: pointer;
}

#Encabezado h3 {
    margin: 0px;
    padding: 10px;
}

/******* FILE UPLOAD**********/

div.fileinputs {
    position: relative;
}

div.fakefile {
    position: relative;
    margin-top: -19px;
    top: 0px;
    /*left: 55px;*/
    z-index: 1;
}

input.file {
    position: relative;
    text-align: right;
    -moz-opacity: 0;
    filter: alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    visibility: hidden;
}

/************** OCULTAR <a> DEL MAPA ********************/

.hideGoogle a[href*="google"] {
    display: none !important;
}

.showGoogle a[href*="google"] {
    display: block !important;
}

/****************** ESTILO DE IMAGEN EN STREETVIEW **************************/
#imgMensajeStreet {
    position: absolute;
    bottom: 20px;
    left: 40%;
    z-index: 5;
    margin-left: -200px;
    display: none;
}

/************************ PROGRESS DESCARGA ******************************/
.Progress {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100001;
    background-color: #ffffff;
}


.tdliminf {
    text-align: right;
    padding-right: 8px;
    width: 70px;
}

.tdlimins {
    text-align: right;
    padding-right: 3px;
    width: 65px;
}

.tdMay {
    padding-right: 3px;
    width: 52px;
}

.tdhasta {
    padding-right: 8px;
    width: 33px;
}

.cortarTextoI {
    width: 242px; /*máximo ancho del div para poner puntos suspensivos*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#Divload {
    opacity: 0.7;
    color: #000000;
    font-weight: bold;
    background-color: #F2F2F2;
    font-size: 20px;
    left: 170px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 410px;
    border-radius: 5px;
    font-size: 20px;
    /*text-shadow: 3px 3px 1px #000;*/
}


.fichaTabla * {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 11.5px !important;
}

#tableEsp {
    top: 35px !important;
}

.fichaTituloPrin {
    text-align: center;
    font-size: 11.5px;
    font-weight: bold;
    border-bottom: 2px solid #E8E8E8;
    padding-bottom: 2px;
    padding-top: 2px;
    /*color: white;*/
    background-color: #E8E8E8;
    padding-left: 0px !important;
}

.marca-de-agua {
    background: url(../images/camara_galeria.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

    .marca-de-agua img {
        padding: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        filter: alpha(opacity=70);
        opacity: .70;
    }

        .marca-de-agua img:hover {
            filter: alpha(opacity=50);
            opacity: .50
        }


#filtrosDENUE *, #resAreaGeo * {
    list-style: none;
}

.divLeft {
    float: left;
}

.divRight {
    float: right;
}

.cortarTextoD {
    /*width: 75%;*/ /*250px;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 22px;
}

#divBusquedaDENUE {
    padding: 5px 27px;
    background-color: #DDD;
    text-align: right;
}

#filtrosDENUE .panel-group {
    margin-bottom: 5px;
}


#js-sidebar-wrap {
    z-index: 1000;
    /*position: absolute;*/ /*fixed;*/
    position: fixed;
    left: 40px;
    width: 40px;
    /*height: 100%;*/
    margin-left: -40px;
    /*overflow-y: auto;*/
    background: #FFFFFF;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

ul#uldescarga li a {
    position: relative;
    font-weight: bold;
    color: #0E83CD;
    margin: 0px 15px;
    text-decoration: none;
    cursor: pointer;
}

    ul#uldescarga li a:after {
        position: absolute;
        bottom: 7px;
        left: 0px;
        width: 105%;
        height: 4px;
        background-color: #0E83CD;
        content: "";
        opacity: 0;
        transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
        transform: translateY(20px);
    }

/*ul#uldescarga li a:hover:after*/
.menuDescargaSelect:after {
    opacity: 1 !important;
    transform: translateY(16px) !important;
}

#js-datasets-wrap li {
    list-style: none;
    line-height: 1.5;
}

#js-datasets-wrap ul {
    padding: 0;
}

td.td_escalas_seleccione {
    font-size: 15px;
    color: #3568bb;
}



/*td.td_escalas {
        cursor: pointer;
        background: #3568bb;
        border: 1px solid #ddd;
        color: white;
        font-weight: bold;
    }*/

td.td_escalas_selected {
    cursor: pointer;
    background: #1c3968;
    border: 1px solid #ddd;
    color: white;
    font-weight: bold;
}

.bor_seppes {
    border-right: 0px solid #FFFFFF !important;
}

#resultAPIEnt li {
    list-style: none;
    white-space: normal;
}

#resultAPIEnt ul {
    padding-left: 0px;
}

.tools-container {
    /*width: 100%;*/
    right: 0px;
    /*left: 900px;*/
    /*top: 115px;*/
    position: absolute;
    z-index: 1;
    display: none;
    margin-right: 32px;
}

#tabToolsInfo
/*styyle popup*/
.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

    .ol-popup-closer:after {
        content: "✖";
    }

/***********************estilos controles de busqueda***********************/
/*#tabToolsInfo #divBusquedas {*/

/*top: 125px !important;
    width: 300px;
    left: 110px;
    background-color: #FFF;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    top: 125px !important;*/
/*#divBusquedas {
    width: 300px;
    left: 75px;
    background-color: #FFF;
    border-radius: 3px;
    position: absolute;
    z-index: 2;
    float: left;
    margin-top: 10px;
}*/



#controlMapas {
    /*top: 125px !important;
    left: 430px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    border: solid 2px #ccc;*/
    -webkit-tap-highlight-color: transparent;
    border-radius: 4px;
    padding: 2px;
    position: absolute;
    background: rgba(0,60,136,.3);
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    /*border: solid 2px #ccc;*/
    bottom: 0px;
    right: 0px !important;
    margin: 10px;
    width: 115px !important;
    cursor: pointer;
}


.Geoserver {
    width: 110px;
    height: 70px;
    background: transparent url('../images/TipoMapa.gif');
    background-position: 0px 0px;
    float: left;
}

.mapa {
    width: 110px;
    height: 70px;
    background: transparent url('../images/TipoMapa.gif');
    background-position: -111px 0px;
    float: left;
}

.mapa_INEGI {
    width: 110px;
    height: 70px;
    background: transparent url('../images/TipoMapa.gif');
    background-position: -221px 0px;
    float: left;
}

.mapa_OSM {
    width: 110px;
    height: 70px;
    background: transparent url('../images/TipoMapa.gif');
    background-position: -333px 0px;
    float: left;
}

.satelite {
    width: 108px;
    height: 70px;
    background: transparent url('../images/TipoMapa.gif');
    background-position: -443px 0px;
    float: left;
}

.contenedor {
    margin: 10px;
    text-decoration: none;
}



#MapasBase {
    position: absolute;
    z-index: 1;
    right: 0;
    display: none;
    bottom: 35px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 113px;
}


    #MapasBase div {
        border: 1px solid #ccc;
        padding: 1px;
        /*padding-left: 5px;*/
        color: #eee;
        font-size: 10px;
        text-align: center;
        will-change: contents,width;
        margin: 0px;
        background-color: rgba(0,60,136,.3);
    }


        #MapasBase div :hover {
            border: 2px solid #ccc;
            padding: 1px;
            transform: scale(1.2);
            /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }


#divSelecDENUEB ul {
    padding-left: 10px;
    list-style: none;
}

#accordionMza, #div_busqDENUE .panel-group .panel + .panel {
    margin: 0px;
}

    #accordionMza .panel-title, #accordionCapas .panel-title {
        font-size: 14px;
    }

#layers_container_MAPAActive, #collapseMisCapas {
    padding: 5px;
}

#divAreaGeoD-1 ul, #divActEcoD-1 ul {
    list-style: none;
}

#panelResultAPI {
    padding: 0px;
}

.resultAPIEnt {
    max-height: 400px;
    overflow: auto;
}

#div_busqDENUE .panel-group, #div_busqDENUE .panel-group .panel + .panel {
    margin: 0px;
}

#collapseD5 .panel-body {
    padding: 2px 5px;
}

#div_busqDENUE .panel-body {
    padding: 5px 10px 5px 30px;
}

.cortarTextoParamB {
    width: 370px; /*250px;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 22px;
}

#collapseInv select, #collapseInv input {
    width: 280px;
}








.ulResBuscar {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-color: transparent;
}

    .ulResBuscar li {
        display: inline-flex !important;
        /* width: 100%; */
        /* border-top-color: transparent; */
        /* padding-left: 40px; */
        /* border-right-color: transparent; */
        /*cursor: pointer;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 3px;
        border-bottom-color: transparent;*/
        height: 37px;
    }

#div_busqDENUE li {
    list-style: none;
}

.imgOverlay {
    max-height: 252px;
    /*max-width: 230px;*/
    overflow-y: auto;
    left: 95px;
    position: absolute;
    bottom: 35px;
    z-index: 1;
    background: white;
}



#txt_totmza_res, #title2_res {
    font-weight: bold;
}

.btn-default {
    background-color: #2279c0;
    border-color: #2279c0;
    color: #fff;
}

    .btn-default:hover {
        background-color: #2279c0;
        border-color: #2279c0;
        color: #fff;
    }

    .btn-default:focus {
        background-color: #2279c0 !important;
        border-color: #2279c0 !important;
        color: #fff !important;
    }

.closedbtn {
    cursor: pointer;
    float: right;
    font-size: 25px;
    color: #333;
}

.btn-defaultboot {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.menubuttons .btn-default {
    background-color: #fff;
    border-color: #adadad;
    color: #000;
}

.summaryHref, lblsummaryVer {
    cursor: pointer;
    color: #333;
    font-weight: normal !important;
    text-decoration: none !important;
}

.divVerMasPersiana {
    text-align: center;
    color: #333;
    background-image: url('/img/botones/bg_persiana.png') !important
}

#ulDetalleEntidad, #ulDetalleActividad {
    overflow: auto;
}

#grupo_capa7_4 .ocultaEnLista {
    display: none !important;
}


#grupo_capa7_4 .marginLeft0 {
    margin-left: 0px !important;
    height: 20px;
}

#spanConsultando {
    color: white !important;
    font-weight: normal !important;
}

.tabla_escalas {
    width: 100%;
    /*margin-left: 50px;*/
    color: white;
    font-weight: bold;
}

#divEscalas {
    margin-left: 50px;
}

.tabla_lista_indicadores {
    width: 287px;
    margin-left: 10px;
}

.panelEjWMS {
    width: 325px;
    margin: 10px 0
}

.fileCsv {
    width: 310px;
}

.radio_urlKML {
    margin-left: 130px;
}

#divTablaPuntosDENUE {
    z-index: 100;
    position: absolute;
    top: 235px;
    right: 0px;
    display: none;
    max-width: 600px;
}

#ulListaDENUEclickGeoserver {
    list-style: none;
    padding: 0px;
    margin: 2px;
    height: -webkit-calc(100% - 30px);
}

#divListaDENUEclickGeoserver {
    height: -webkit-calc(100% - 230px);
    overflow: auto;
}

#ulListaDENUEclickGeoserver li:nth-child(odd) {
    background-color: #fff;
    padding: 2px 1px;
}

#ulListaDENUEclickGeoserver li:nth-child(even) {
    background-color: #726e16;
    color: #fff;
    padding: 2px 1px;
}

/********* MEDIA QUERY **********/
@media(min-width: 1200px) {
    #query-result-content .col-lg-6 {
        width: 52%;
    }

    #query-result-content .col-lg-1 {
        width: 3%;
    }

    #query-result-content .col-lg-5 {
        width: 45%;
    }

    .contenedorInfoUbicacion {
        min-width: 250px;
    }
}

@media(min-width:768px) {

    #query-result-content .pagination {
        margin: 0px 5px 0px 0px;
    }

    #headerTitle h2 {
        font-size: 2em;
    }

    .submenu-nav li {
        /*margin: 1px 8px;*/
        line-height: 25px;
    }

        .search_result_item:hover, .submenu-nav li:hover {
            background-color: #ECECEC;
        }

    #btnManzana {
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }
}

@media(max-width: 1200px) {
    #DENUE-container {
        height: 485px !important;
    }

    .col-md-12 {
        width: 100%;
        float: left;
    }

    span.asTable.col-lg-10 {
        width: 83.33333333%;
    }

    span.asTable.col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }

    #clonParamBusq .cortarTextoParamB {
        width: 950px;
    }
}

@media(max-width: 970px) {

    #btnRectangleDis, #btnPolygonDis, #btnRule, span[data-original-title="Agregar capa"], #btnImprimir, #divTipoMapa {
        display: none !important;
        visibility: collapse;
    }

    .cortarTexto {
        width: 180px; /*máximo ancho del div para poner puntos suspensivos*/
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .cortarTextoEnt {
        width: 250px; /*máximo ancho del div para poner puntos suspensivos*/
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }


    #clonParamBusq .cortarTextoParamB {
        width: 730px;
    }

    #query-result h4 {
        background-color: rgba(0,0,0,0);
    }
}

@media(max-width:768px) {
    #header, #encPrincipal {
        display: none;
    }

    #divTablaPuntosDENUE {
        top: 140px;
        max-width: 350px;
    }

    .cortarTextoD {
        /* width: 75%; */ /*250px;*/
        /* text-overflow: ellipsis; */
        white-space: normal;
        /* overflow: hidden; */
        line-height: 22px;
        /* width: 170px; */
    }

    .tabla_escalas {
        width: 100%;
        /*margin-left: 50px;*/
        color: white;
        /*font-weight: bold;*/
        height: 26px;
    }

    ul#uldescarga li a:after {
        bottom: 15px;
        height: 2px;
    }

    .btn-sm, .btn-group-sm > .btn {
        padding: 5px 5px;
    }

    #clonParamBusq .cortarTextoParamB {
        width: 480px;
    }
}

@media(max-width:400px) {
    .cortarTextoParamB {
        width: 195px; /*250px;*/
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 22px;
    }

    #divTablaPuntosDENUE {
        top: 125px;
        max-width: 350px;
    }

    #collapseInv select, #collapseInv input {
        width: 235px;
    }

    .tooltip-extra {
        display: inline-block;
        width: 240px;
    }

    #query-result-content, #result-descargaMapas, #result-filtrosDescarga, #result-ReporteLoc {
        overflow-y: auto;
        height: 97%;
        width: 100%;
        padding-right: 1px !important;
        padding-left: 1px !important;
        font-size: 8px;
    }

    #divDescarga3, #resultBusqueda {
        padding: 0px !important;
    }

    .query-result-section {
        z-index: 1;
        /*background: rgba(134, 134, 134, 0.2);*/
        border-radius: 10px;
        padding: 5px 0px !important; /*20px;*/
        border: 1px solid #ccc;
    }

    #clonParamBusqTable {
        margin: 5px 5px;
    }

    #ul_result_busqueda .item_result_busqueda {
        margin-left: 5px;
        border-top: 1px solid #DDD;
        font-size: 13px;
    }

    .item_result_busqueda {
        margin-left: 0px;
        border-top: 1px solid #DDD;
        font-size: 13px;
    }

    #query-result-content .pagination {
        margin: 2px;
        float: right;
    }

    #ulListaDENUE, #ulActividad {
        left: 10px;
        right: 5px;
    }

    #map2D .popover {
        max-width: 270px;
    }

        #map2D .popover .iw-content {
            max-width: 255px;
        }

    #txtBuscarActEco, #txtBuscarActEco2 {
        width: 188px !important;
    }

    #map2D .popover {
        max-width: 265px;
    }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 5px;
    }

    #collapse-icon-container {
        left: 57%;
    }

    #iw-container {
        padding: 0px 0 10px 5px;
    }

    #map2D .popover-title {
        padding: 1px 7px;
        border-radius: 5px 5px 0 0;
        background-color: #FFFFFF;
        border: 0px;
    }

    span.asTable.col-lg-10 {
        padding: 0px;
    }

    .listNum {
        padding: 0 5px;
    }

    #entidad-tab > a, #sector-tab > a {
        position: relative;
        display: block;
        padding: 4px 0px;
    }

    #grupo_capa7_4 li {
        margin-left: 5px;
    }

    #spancapa7_4_1_2, #spancapa7_4_2_2, #spancapa7_4_3_2, #spancapa7_4_4_2 {
        padding-left: 3px;
    }

    .cortarTextoMenuCapas2 {
        max-width: 160px !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    #clonParamBusq .cortarTextoParamB {
        width: 280px;
    }

    .query-result-section-content th, .query-result-section-content td {
        padding: 1px !important;
    }

    .query-result-section-content .col-md-12 {
        padding: 0px !important;
    }

    #EntornoUrbanoTable th{
        font-weight:initial;
    }
}

@media(max-width:250px) {
    .panelEjWMS {
        width: 235px;
        margin: 10px 0;
    }

    .fileCsv {
        width: 236px;
    }

    .cortarTextoWMS {
        width: 230px; /*máximo ancho del div para poner puntos suspensivos*/
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 8px;
    }

    .radio_urlKML {
        margin-left: 60px;
    }

    #btnAddCvs, #Ex_esp2 {
        padding: 6px 2px;
    }

    #clonParamBusq .cortarTextoParamB {
        width: 125px;
    }
}

@media (min-width: 701px) {
    .cortarTextoDE {
        width: 300px; /*máximo ancho del div para poner puntos suspensivos*/
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 13px;
    }

    #ttiDENUE {
        font-size: 13px
    }

    #divTitleResultados {
        font-size: 13px;
    }

    #divclonParamBusq {
        font-size: 13px
    }

    #query-result-content, #result-descargaMapas, #result-filtrosDescarga, #result-ReporteLoc {
        overflow-y: auto;
        height: 97%;
        width: 100%;
        padding-right: 40px;
        padding-left: 40px;
        font-size: 13px;
        padding-top: 10px;
    }


    #divMenuBusqueda {
        width: 330px;
        padding: 2px 0px 0px;
    }

        #divMenuBusqueda .nav > li > a {
            padding: 10px;
        }


    #btnbuscar {
        display: inline;
    }

    #divBusquedas {
        width: 300px;
        left: 75px;
        /*background-color: #FFF;*/
        border-radius: 3px;
        position: absolute;
        z-index: 2;
        float: left;
        margin-top: 10px;
        display: none;
    }

    #spanEscala {
        display: initial;
    }

    .td_escalas_text {
        background: #3568bb;
        border: 1px solid #ddd;
        color: white;
        font-weight: bold;
        width: 10%; /*110px;*/
    }

    td.td_escalas {
        cursor: pointer;
        background: #3568bb;
        border: 1px solid #ddd;
        color: white;
        font-weight: bold;
        width: 18%;
        text-align: center;
    }

    td.td_escalas_selected {
        cursor: pointer;
        background: #1c3968;
        border: 1px solid #ddd;
        color: white;
        font-weight: bold;
    }

    #header .jumbo {
        background: #f0f0f0;
        /*padding: 15px 0px 0px 6px;*/
    }
    /*Paginación buscador*/
    .pagi {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
        overflow-x: auto;
    }

        .pagi > li {
            display: inline-block
        }

            .pagi > li > a, .pagi > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857143;
                color: #337ab7;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd
            }

            .pagi > li:first-child > a, .pagi > li:first-child > span {
                margin-left: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px
            }

            .pagi > li:last-child > a, .pagi > li:last-child > span {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px
            }

            .pagi > li > a:focus, .pagi > li > a:hover, .pagi > li > span:focus, .pagi > li > span:hover {
                color: #23527c;
                background-color: #eee;
                border-color: #ddd
            }

        .pagi > .active > a, .pagi > .active > a:focus, .pagi > .active > a:hover, .pagi > .active > span, .pagi > .active > span:focus, .pagi > .active > span:hover {
            z-index: 2;
            color: #fff;
            cursor: default;
            background-color: #337ab7;
            border-color: #337ab7
        }

        .pagi > .disabled > a, .pagi > .disabled > a:focus, .pagi > .disabled > a:hover, .pagi > .disabled > span, .pagi > .disabled > span:focus, .pagi > .disabled > span:hover {
            color: #777;
            cursor: not-allowed;
            background-color: #fff;
            border-color: #ddd
        }

    .pagi-lg > li > a, .pagi-lg > li > span {
        padding: 10px 16px;
        font-size: 18px
    }

    .pagi-lg > li:first-child > a, .pagi-lg > li:first-child > span {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px
    }

    .pagi-lg > li:last-child > a, .pagi-lg > li:last-child > span {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px
    }

    .pagi-sm > li > a, .pagi-sm > li > span {
        padding: 5px 10px;
        font-size: 12px
    }

    .pagi-sm > li:first-child > a, .pagi-sm > li:first-child > span {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px
    }

    .pagi-sm > li:last-child > a, .pagi-sm > li:last-child > span {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px
    }
}

@media (min-width: 101px) and (max-width: 700px) {
    .cortarTextoDE {
        width: 300px; /*máximo ancho del div para poner puntos suspensivos*/
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 13px;
    }

    #ttiDENUE {
        font-size: 13px
    }

    #divTitleResultados {
        font-size: 13px;
    }

    #divclonParamBusq {
        font-size: 13px;
    }

    .form-control {
        font-size: 13px;
    }

    #query-result-content, #result-descargaMapas, #result-filtrosDescarga, #result-ReporteLoc {
        overflow-y: auto;
        height: 97%;
        width: 100%;
        /*padding-right: 20px;
        padding-left: 20px;*/
        font-size: 13px;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    #div_resultGeo, #div_resultBiblio, #div_resultDENUE {
        font-size: 10px;
    }

    #divMenuBusqueda {
        width: 330px;
        padding: 2px 0px 0px;
        /*right: -30px;*/
        width: 180px;
        font-size: 10px;
    }

        #divMenuBusqueda .nav > li > a {
            padding: 2px;
        }

    #layer-button-container {
        display: none;
    }

    #btnbuscar {
        display: none;
    }

    #divBusquedas {
        width: 150px;
        left: 75px;
        background-color: #FFF;
        border-radius: 3px;
        position: absolute;
        z-index: 2;
        float: left;
        margin-top: 10px;
        /*display: none;*/
    }

    .query-result-section-content {
        padding: 0;
    }

    #ulListaDENUE, #ulActividad {
        left: 15px;
    }

    #tabToolsInfo {
        width: 70%;
    }

    .td_escalas_text {
        background: #3568bb;
        border: 1px solid #ddd;
        color: white;
        font-weight: bold;
        /*width: auto;*/
        width: 10%; /*33px;*/
        /*display: none*/
    }

    td.td_escalas {
        cursor: pointer;
        background: #3568bb;
        border: 1px solid #ddd;
        color: white;
        /*font-weight: bold;*/
        font-size: 10px;
        width: 18%; /*20%*/
    }

    #spanEscala {
        display: none;
    }


    /*cursor: pointer; 
    background: #3568bb; 
    border: 1px solid #ddd; 
    color: white; font-weight: 
    bold; font-size: 10px;
    margin-left: 28px; 
    margin-right: 0px !important;*/


    #header .jumbo {
        background: #f0f0f0;
        padding: 15px 0px 0px 6px;
        display: none;
    }

    #tool-buttons {
        width: 50px;
    }

    .tool-iconMax {
        width: 45px;
        /*padding-left: 3px !important;*/
        text-align: left;
        background-color: #FFF !important;
    }

    #tabToolsInfo {
        top: 312px !important;
        width: 210px;
        right: 0px;
        background-color: #FFF;
        border-radius: 3px;
        display: none;
        position: absolute;
        z-index: 1;
    }

    .submenu-nav li {
        font-size: 10px;
    }

    #query-result {
        padding: 15px 5px 5px 0;
    }

        #query-result h4, .resParam {
            padding: 5px 5px;
            margin: 0 5px;
        }

    #map2D .new-poi-popover-content, #map2D .poi-popover-content {
        min-width: 200px !important;
        padding: 2px !important;
    }

    #iconPINContainer img {
        margin: 0 2px;
    }

    #selcIcon {
        padding: 6px 2px 9px;
    }




    /*Paginación buscador*/
    .pagi {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
        overflow-x: auto;
    }

        .pagi > li {
            display: inline-block
        }

            .pagi > li > a, .pagi > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857143;
                color: #337ab7;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd
            }

            .pagi > li:first-child > a, .pagi > li:first-child > span {
                margin-left: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px
            }

            .pagi > li:last-child > a, .pagi > li:last-child > span {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px
            }

            .pagi > li > a:focus, .pagi > li > a:hover, .pagi > li > span:focus, .pagi > li > span:hover {
                color: #23527c;
                background-color: #eee;
                border-color: #ddd
            }

        .pagi > .active > a, .pagi > .active > a:focus, .pagi > .active > a:hover, .pagi > .active > span, .pagi > .active > span:focus, .pagi > .active > span:hover {
            z-index: 2;
            color: #fff;
            cursor: default;
            background-color: #337ab7;
            border-color: #337ab7
        }

        .pagi > .disabled > a, .pagi > .disabled > a:focus, .pagi > .disabled > a:hover, .pagi > .disabled > span, .pagi > .disabled > span:focus, .pagi > .disabled > span:hover {
            color: #777;
            cursor: not-allowed;
            background-color: #fff;
            border-color: #ddd
        }

    .pagi-lg > li > a, .pagi-lg > li > span {
        padding: 0px 5px;
        font-size: 8px
    }

    .pagi-lg > li:first-child > a, .pagi-lg > li:first-child > span {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px
    }

    .pagi-lg > li:last-child > a, .pagi-lg > li:last-child > span {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px
    }

    .pagi-sm > li > a, .pagi-sm > li > span {
        padding: 0px 5px;
        font-size: 8px
    }

    .pagi-sm > li:first-child > a, .pagi-sm > li:first-child > span {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px
    }

    .pagi-sm > li:last-child > a, .pagi-sm > li:last-child > span {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px
    }
}

.iconFullScreenInegi {
    height: 35px !important;
    width: 33px !important;
    background-color: white !important;
    border: 1px solid #ccc !important;
    z-index: 7;
}

.expandirE {
    background-image: url('../images/ico-expand.png') !important;
}

.ol-full-screen {
    background-color: inherit !important;
    display: block;
    /*right: .5em;
    top: calc(100% - 2.375em);*/
}



@media screen and (max-width: 610px) {
    #mostrarFotoVerMas img {
        width: 100%;
    }

    #verMasCT-modal table {
        width: 100%;
    }

    #verMasCT-modal thead {
        display: none;
    }

    #verMasCT-modal tr:nth-of-type(2n) {
        background-color: inherit;
    }

    #verMasCT-modal tr td:first-child {
        background: #f0f0f0;
        font-weight: bold;
        font-size: 1.3em;
    }

    #verMasCT-modal tbody td {
        display: block;
        text-align: center;
    }

        #verMasCT-modal tbody td:before {
            content: attr(data-th);
            display: block;
            text-align: center;
        }
}

#spanfavoritas {
    padding: 13px 18px 0px;
    display: none;
}

#spanvistas {
    padding: 13px 18px 0px;
    display: none;
}

#layers_container_favoritas {
    padding: 5px;
}

.imgfavo {
    float: right;
    padding-right: 5px;
}

.men {
    position: absolute;
    width: 140px;
    height: auto;
    display: none;
    padding: 5px;
    color: #0F0F0F;
    /*cursor: pointer;*/
    background: #FFFFFF;
    /*border: 2px solid #F0F0F0;*/
    background: #fff;
    /*border: 1px solid #eee;*/
    border: 2px solid #aaa;
    /*border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;*/
    filter: alpha(Opacity=10);
    /*-khtml-opacity: 0.90;
    -moz-opacity: 0.1;
    opacity: 0.1;*/
    font-size: 12px;
}

.vista {
    cursor: pointer;
    border: 1px solid #aaa;
    box-shadow: 2px 2px;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;
    overflow-x: auto;
}

#divVistas {
    padding: 20px;
}

#divVistaMapa {
    padding-bottom: 10px;
}

.popover-content {
    min-width: 200px;
}

.infowindow-borrar {
    text-align: right;
    padding-top: 8px;
    cursor: pointer;
    text-decoration: underline;
}

.ico_coneval {
    width: 16px;
    height: 16px;
    background: transparent url("../images/listaCapas/ico_coneval.png");
    /*display: -webkit-inline-box;
    vertical-align: middle;*/
}

.ico_u1 {
    width: 16px;
    height: 16px;
    background: transparent url("../images/listaCapas/ico_u1.png");
    /*display: -webkit-inline-box;
    vertical-align: middle;*/
}

.ico_u2 {
    width: 16px;
    height: 16px;
    background: transparent url("../images/listaCapas/ico_u2.png");
    /*display: -webkit-inline-box;
    vertical-align: middle;*/
}

.ico_u3 {
    width: 16px;
    height: 16px;
    background: transparent url("../images/listaCapas/ico_u3.png");
    /*display: -webkit-inline-box;
    vertical-align: middle;*/
}

.zonas_inundacion {
    width: 16px;
    height: 16px;
    background: transparent url("../images/listaCapas/zonas_inundacion.png");
}

.ico_aeropuerto {
    width: 16px;
    height: 16px;
    background: transparent url("../images/listaCapas/ico_aeropuerto.png");
}

.ico_curvas_nivel {
    width: 16px;
    height: 16px;
    background: transparent url("../images/listaCapas/ico_curvas_nivel.png");
}

.ico_bachillerato {
    width: 16px;
    height: 16px;
    background: transparent url("../images/listaCapas/ico_bachillerato.png");
}




/*@media ( min-width:770px)and ( min-height: 590px) {
    #frame_capas {
        height: 165%;
    }
}

@media (min-height: 571px){
    #frame_capas {
        height:100%;
    }
}*/
/*@media (max-height: 590px) {
    #frame_capas {
        height: 165%;
    }
}*/
#frame_capas {
    height: 125%;
}

#Result_INV td {
    padding: 3px;
}

#divVivAv h4, #divPobav h4 {
    margin: 0px;
}

#EntornoUrbanoTable td:first-child {
    text-align: left;
}

#EntornoUrbanoTable td {
    text-align: center;
}

#spanAgeo_res b {
    font-size: 13px !important;
    float: left;
    padding-right: 5px;
}

#td_totMza_res {
    padding-left: 0px !important;
}

#clonParamBusq .cortarTextoParamB {
    margin-left: 10px;
    width: 100%;
}

.tituloCantidadMza, .tituloPorcentajeMza {
    text-align: right;
}

#divEUMza a:hover, #divEUMza a:focus {
    text-decoration: none;
}
